# Copyright (c) 2009-2012, 2017, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of The Linux Foundation nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

on init
    write /sys/module/qpnp_rtc/parameters/poweron_alarm 1
    mount none /system/etc/usb_audio_policy_configuration.xml /vendor/etc/usb_audio_policy_configuration.xml bind

on boot
    # change file owner for factory test
    chown system system /sys/devices/virtual/touchscreen/touchscreen_dev/firmware_version
    chown system system /sys/devices/virtual/touchscreen/touchscreen_dev/firmware_update
    chown system system /sys/devices/virtual/touchscreen/touchscreen_dev/calibrate

    # stk3x1x light
    chown system system /sys/class/sensors/stk3x1x-light/calibrate
    chown system system /sys/class/sensors/stk3x1x-light/enable
    chown system system /sys/class/sensors/stk3x1x-light/enable_wakeup
    chown system system /sys/class/sensors/stk3x1x-light/flush
    chown system system /sys/class/sensors/stk3x1x-light/max_latency
    chown system system /sys/class/sensors/stk3x1x-light/poll_delay
    chmod 0664 /sys/class/sensors/stk3x1x-light/calibrate
    chmod 0664 /sys/class/sensors/stk3x1x-light/enable
    chmod 0664 /sys/class/sensors/stk3x1x-light/enable_wakeup
    chmod 0664 /sys/class/sensors/stk3x1x-light/flush
    chmod 0664 /sys/class/sensors/stk3x1x-light/max_latency
    chmod 0664 /sys/class/sensors/stk3x1x-light/poll_delay

    # stk3x1x proximity
    chown system system /sys/class/sensors/stk3x1x-proximity/calibrate
    chown system system /sys/class/sensors/stk3x1x-proximity/enable
    chown system system /sys/class/sensors/stk3x1x-proximity/enable_wakeup
    chown system system /sys/class/sensors/stk3x1x-proximity/flush
    chown system system /sys/class/sensors/stk3x1x-proximity/max_latency
    chown system system /sys/class/sensors/stk3x1x-proximity/poll_delay
    chmod 0664 /sys/class/sensors/stk3x1x-proximity/calibrate
    chmod 0664 /sys/class/sensors/stk3x1x-proximity/enable
    chmod 0664 /sys/class/sensors/stk3x1x-proximity/enable_wakeup
    chmod 0664 /sys/class/sensors/stk3x1x-proximity/flush
    chmod 0664 /sys/class/sensors/stk3x1x-proximity/max_latency
    chmod 0664 /sys/class/sensors/stk3x1x-proximity/poll_delay

    # BMA
    chown system system /sys/class/sensors/bma2x2-accel/calibrate
    chown system system /sys/class/sensors/bma2x2-accel/enable
    chown system system /sys/class/sensors/bma2x2-accel/enable_wakeup
    chown system system /sys/class/sensors/bma2x2-accel/flush
    chown system system /sys/class/sensors/bma2x2-accel/max_latency
    chown system system /sys/class/sensors/bma2x2-accel/poll_delay
    chmod 0664 /sys/class/sensors/bma2x2-accel/calibrate
    chmod 0664 /sys/class/sensors/bma2x2-accel/enable
    chmod 0664 /sys/class/sensors/bma2x2-accel/enable_wakeup
    chmod 0664 /sys/class/sensors/bma2x2-accel/flush
    chmod 0664 /sys/class/sensors/bma2x2-accel/max_latency
    chmod 0664 /sys/class/sensors/bma2x2-accel/poll_delay

    #hall_device
    chown system system /sys/class/hall_device/hall_device/hall_check
    chown system system /sys/class/hall_device/hall_device/enable
    chmod 0444 /sys/class/hall_device/hall_device/hall_check
    chmod 0644 /sys/class/hall_device/hall_device/enable

    #WIP enable hall here
    write /sys/class/hall_device/hall_device/enable 1

    #test_result
    chown system system /persist/test_result
    chmod 0644 /persist/test_result

    #audio_test_related
    mkdir /persist/mics 0755 system system
    chown system system /persist/mics
    chmod 0755 /persist/mics
    mkdir /persist/audio 0755 system system
    chown system system /persist/audio
    chmod 0755 /persist/audio

    #lcd-backlight 
    chown system system /sys/class/leds/lcd-backlight/max_brightness
    chmod 0666 /sys/class/leds/lcd-backlight/max_brightness

    # Enable writing to led blink node from userspace
    chown system system /sys/class/leds/keyboard-backlight/brightness
    chown system system /sys/class/leds/lcd-backlight/brightness
    chown system system /sys/class/leds/jogball-backlight/brightness
    
     # Torch
    chown system camera /sys/class/leds/torch-light0/brightness
    chown system camera /sys/class/leds/flashlight/brightness
    chmod 0660 /sys/class/leds/torch-light0/brightness
    chmod 0660 /sys/class/leds/flashlight/brightness

    # Enable writing to led blink node from userspace
    chown system system /sys/class/leds/red/blink
    chown system system /sys/class/leds/green/blink
    chown system system /sys/class/leds/blue/blink
    chown system system /sys/class/leds/red/led_time
    chown system system /sys/class/leds/green/led_time
    chown system system /sys/class/leds/blue/led_time

    #button-backlight
    chown system system /sys/class/leds/button-backlight/brightness
    chmod 0666 /sys/class/leds/button-backlight/brightness

service tp-node /vendor/bin/tp.node.sh
    class main
    user root
    group root
    oneshot

service lowi-server /vendor/bin/lowi-server
    class late_start
    user gps
    group gps net_admin wifi inet oem_2901
    disabled

service vendor.start_hci_filter /vendor/bin/wcnss_filter
    class late_start
    user bluetooth
    group bluetooth diag system wakelock
    seclabel u:r:bluetooth:s0
    disabled
    
service sensord /vendor/bin/sensord
    class main
    user root

# Add a cpuset for the camera daemon
# We want all cores for camera
    mkdir /dev/cpuset/camera-daemon
    write /dev/cpuset/camera-daemon/cpus 0-1
    write /dev/cpuset/camera-daemon/mems 0
    chown cameraserver cameraserver /dev/cpuset/camera-daemon
    chown cameraserver cameraserver /dev/cpuset/camera-daemon/tasks
    chmod 0775 /dev/cpuset/camera-daemon/tasks

